install.packages("BiocManager")
BiocManager::install("Seurat")
install.packages("RColorBrewer")
BiocManager::install("SeuratDisk")
install.packages("Matrix")
install.packages("class")
install.packages("cccd")
install.packages("igraph")
install.packages("umap")
install.packages("ggplot2")
install.packages("icesTAF")
install.packages("viridis")
install.packages("RColorBrewer")
BiocManager::install("slingshot")
install.packages("stats")